@page
@model Pulse.Pages.Contracts.WaresModel
@{
}
<nav tyle="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="index"> Договора</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.ContractName</li>

    </ol>

</nav>

<H4>
    @if (Model.Contract.PZ)
    {
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
        </svg>


    }
    @Html.DisplayFor(model => model.Contract.Number)
    <span class="badge badge-secondary">
        @Html.DisplayFor(model => model.Contract.CompleteString)
    </span>
</h4>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Детально:
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Номер договора:  </dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Contract.Number) </dd>
                    <dt class="col-sm-3">Дата создания:</dt>
                  
                    <dd class="col-sm-9">
                        @Model.Contract.CreationDate?.ToString("d")
                    </dd>
                    <dt class="col-sm-3">Дата окончания :</dt>
                    <dd class="col-sm-9">
                        @Model.Contract.EndDate?.ToString("d")
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Contract.Code)
                    </dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Contract.Code)</dd>

                    <dt class="col-sm-3">Заказчик:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Contract.Client)</dd>
                    <dt class="col-sm-3">Поставщик:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Contract.Supplier)</dd>
                </dl>
            </div>
        </div>
       
    </div>

</div>
<div class="accordion" id="accordionExample2">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Программа испытаний:
                </button>
            </h2>
        </div>

        <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample2">
            <div class="card-body">
                <div class="card-body">
                    <dl class="row">
                        @foreach (var item in Model.Programs)
                        {
                            <dt class="col-sm-3"> @Html.DisplayFor(modelItem => item.Number) </dt>
                            <dd class="col-sm-9">@Html.DisplayFor(modelItem => item.Name)</dd>
                        }
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accordion" id="accordionExample3">
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Выполнение договора (факт по данным АСУ ИЦ):
                </button>
            </h2>
        </div>

        <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample3">
            <div class="card-body">
                <div class="card-body">
                   

                    <table class="table table-bordered">
                        <thead class="table-secondary">
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.MonthLabor[0].EndMonth)</td>
                                <td>@Html.DisplayNameFor(model => model.MonthLabor[0].labor)</td>
                            </tr>
                            
                        </thead>
                          @foreach (var item in Model.MonthLabor)
                        {
                            <tr>
                                <td> 
                                    @item.EndDate.ToString("y")

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.labor)

                                </td>
                            </tr>
                        }

                    </table>

                     <a class="nav-link" target="_blank" asp-page="../Download" asp-route-reportType="contractLabor" asp-route-id="@Model.ContractID"  data-toggle="tooltip" data-placement="bottom" title="Трудоемкость контракта в формате Excel">
                      <img src="~/xlsx.png"  height="32" width="32"/>Полный отчет по трудоёмкости договора в Excel
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
        <table class="table table-bordered">
            <thead>
                <tr class="table-secondary">
                    <th>

                        @Html.DisplayNameFor(model => model.Wares[0].TypeNominal)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Wares[0].ClassName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Wares[0].InStoreString)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Wares[0].CompleteString)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Wares[0].LotCount)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var item in Model.Wares)
                {
                    string selectedRow = item.Complete ? "table-success" : item.InProgress ? "" : "table-danger";

                    <tr class=@selectedRow>

                        <td>
                            <a asp-page="Lot" asp-route-id="@item.WareID">
                                @Html.DisplayFor(modelItem => item.TypeNominal)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InStoreString)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CompleteString)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LotCount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
